@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --openSans: "Open Sans", sans-serif;
    --raleway: "Raleway", sans-serif;
    --red:#E7174A;
    --orange: #FF9A16;
    --bleuFonce: #011826;
    --vertClair: #2CC1AA;
    --bgc: #011826;
    --white: #fff;
    --black: #000;
    --borderBtn: #F7FFF2;
}

*{
    margin: 0;
    color: var(--white);
}

body{
    background-color: var(--bgc);
}

ul{
    list-style-type: none;
    padding-left: 0;
}

a{
    text-decoration: none;
}

.container1440{
    padding: 0 15px;
    max-width: 1440px;
    margin: auto;
}

h1, h2, h3{
    font-family: var(--raleway);
    font-weight: 700;
}

.buttonOrange{
    background-color: var(--orange);
    padding: 15px 25px;
    border: 1px solid var(--orange);
    color: var(--white);
}

.buttonBleuFonce{
    background-color: var(--bleuFonce);
    padding: 15px 25px;
    border: 1px solid var(--borderBtn);
}

p{
    font-family: var(--openSans);
    font-weight: 400;
    font-size: 18px;
}


/* HEADER  */

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav{
    display: flex;
}

nav ul{
    display: flex;
    gap: 10px;
    align-items: center;
}

header nav li a{
    font-size: 16px;
    font-family: var(--openSans);
    font-weight: 400;
    color: var(--orange);
}

.liRed{
    color: var(--red);
}

/* FOOTER */

footer{
    background-color: var(--vertClair);
    text-align: center;
    padding: 15px;
}