@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --openSans: "Open Sans", sans-serif;
    --raleway: "Raleway", sans-serif;
    --red:#E7174A;
    --orange: #FF9A16;
    --bleuFonce: #011826;
    --vertClair: #2CC1AA;
    --bgc: #011826;
    --white: #fff;
    --black: #000;
    --borderBtn: #F7FFF2;
    --gradient : linear-gradient(90deg, rgba(231,23,74,1) 17%, rgba(255,154,22,1) 72%);
}

*{
    margin: 0;
    color: var(--white);
    scroll-behavior: smooth;
}

body{
    background-color: var(--bgc);
}

ul{
    list-style-type: none;
    padding-left: 0;
}

a{
    text-decoration: none;
}

.container1440{
    padding: 0 15px;
    max-width: 1440px;
    margin: auto;
}

h1, h2, h3{
    font-family: var(--raleway);
    font-weight: 700;
}

.burgerMenu{
    display: none !important;
}

.buttonOrange{
    background-color: var(--orange);
    padding: 15px 25px;
    border: 1px solid var(--orange);
    color: var(--white);
    transition: all 0.2s;
    font-family: var(--openSans);
}

.buttonOrange:hover{
    background-color: var(--red);
    transition: all 0.2s;
}

.buttonBleuFonce{
    background-color: var(--bleuFonce);
    padding: 15px 25px;
    border: 1px solid var(--borderBtn);
    transition: all 0.2s;
    font-family: var(--openSans);
}

.buttonBleuFonce:hover{
    background-color: var(--red);
    transition: all 0.2s;
}

p{
    font-family: var(--openSans);
    font-weight: 400;
    font-size: 18px;
}

/* HEADER  */

#header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 70px;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 25px;
    align-items: center;
}

header nav li a{
    font-size: 16px;
    font-family: var(--openSans);
    font-weight: 400;
    color: var(--orange);
    transition: all 0.2s;
}

header nav li a:hover{
    transition: all 0.2s;
    color: var(--red);
}

header nav .buttonOrange:hover{
    color: var(--white);
    transition: all 0.2s;
}

.liRed{
    color: var(--red);
}

/* FOOTER */

footer{
    background-color: var(--vertClair);
    text-align: center;
    padding: 15px;
}

/* MAIN */

/* SECTION 1 */

#presentation{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 60px;position: relative;
}

#presentation h1{
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1px;
}

#contentPresentation{
    max-width: 570px;
}

#presentation img{
    width: 100%;
    z-index: -1;
}

#presentation p{
    margin-bottom: 15px;
}

#contentPresentation > p:nth-child(9){
    margin-bottom: 35px;
}

/* SECTION 2 */
#formation{
    margin-bottom: 50px;
}

#formation h2{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

#articleFormation{
    display: grid;
    grid-template-columns: 70% auto;
    max-width: 1140px;
    margin: auto;
    align-items: center;
    position: relative;
}
#articleFormation img, #articleFormation2 img{
    height: 789px;
    width: 100%;
}

#formatDescription{
    background-color: var(--orange);
    padding: 40px;
    height: fit-content;
    position: absolute;
    max-width: 385px;
    right: 0px;
}

#formatDescription h3, #formatDescription2 h3{
    font-size: 21px;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
}

#formatDescription > p:nth-child(2), #formatDescription > p:nth-child(4), #formatDescription2 > p:nth-child(2), #formatDescription2 > p:nth-child(4){
    margin-bottom: 25px;
}

#formatDescription .buttonBleuFonce, #formatDescription2 .buttonBleuFonce{
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: -25px;
    right: 155px;
}

#articleFormation{
    margin-bottom: 80px;
}

#articleFormation2{
    display: grid;
    grid-template-columns: auto 70%;
    max-width: 1140px;
    margin: auto;
    align-items: center;
    position: relative;
}

#articleFormation2 img{
    grid-column: 2/3;
}

#formatDescription2{
    background-color: var(--orange);
    padding: 40px;
    height: fit-content;
    position: absolute;
    max-width: 385px;
}

/* SECTION COMPÉTENCES */

#competence{
    margin-bottom: 100px;
}

#competence h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

#compList{
    display: flex;
    gap: 20px;
}

#compList div {
    width: 100%;
}

#compList li{
    padding: 20px 0 20px 20px;
    background-color: var(--borderBtn);
    margin-bottom: 10px; 
}

#compList label{
    color: var(--orange);
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid var(--red);
    width: fit-content;
    padding-bottom: 15px;
    cursor: pointer;
}

#subFront > li, #subBack > li{
    padding: 0;
    list-style-type: square !important;
}

#subFront > li.liSubFramework, #subBack > li.liSubFramework{
    padding-top: 20px;
}

/* SECTION PROJECT */

#project{
    margin-bottom: 50px;
}

#project h2{
    font-size: 36px;
}

#project h3{
    font-size: 21px;
    margin-bottom: 20px;
    letter-spacing: 1px;

}

#project img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 20px;
}

#projectTitle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

#articleProject{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

#articleProject article > div{
    position: relative;
    padding: 20px 12px 0px;
    margin-bottom: 40px;
}

#articleProject article > div::after{
    content: "";
    position: absolute;
    top: 0;
    left: -1px; /* Pour que le pseudo-élément se chevauche avec la bordure gauche */
    height: 100%;
    width: 1px; /* Largeur de la bordure */
    background: linear-gradient(180deg, rgba(231,23,74,1) 17%, rgba(255,154,22,1) 72%);
}

#articleProject article > div::before{
    content: "";
    position: absolute;
    top: 0;
    right: -1px; /* Pour que le pseudo-élément se chevauche avec la bordure gauche */
    height: 100%;
    width: 1px; /* Largeur de la bordure */
    background: linear-gradient(180deg, rgba(231,23,74,1) 17%, rgba(255,154,22,1) 72%);
}

#project .buttonBleuFonce{
    margin-left: 20px;
}

#articleProject article{
    position: relative;
}

#articleProject .front-end::before{
    content: "Front-end";
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: var(--red);
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    z-index: 1;
}

#articleProject .back-end::before{
    content: "Back-end";
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: var(--red);
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    z-index: 1;
}

/* SUBMENU */

#toggleLangage, #toggleConception, #toggleFramework, #toggleService, #toggleBase, #toggleSecurite, #toggleOutil, #toggleAutre{
    display: none;
}

#subLangage, #subConception, #subFramework, #subService, #subBase, #subSecurite, #subOutil, #subAutre{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

#toggleLangage:checked + #subLangage, #toggleConception:checked + #subConception, #toggleFramework:checked + #subFramework, #toggleService:checked + #subService, #toggleBase:checked + #subBase, #toggleSecurite:checked + #subSecurite, #toggleOutil:checked + #subOutil, #toggleAutre:checked + #subAutre{
    max-height: 400px;
}

#subLangage li, #subConception li, #subFramework li, #subService li, #subBase li, #subSecurite li, #subOutil li, #subAutre li{
    color: var(--black);
    list-style-type: circle;
    padding-left: 0px;
    margin-left: 20px;
}

/* MODAL */

#liModal, #labelModal{
    position: relative;
}

#toggleModal, #modalContact{
    display: none;
}

#shadowModal, #modalPresentation{
    display: none;
    position: relative;
    padding: 30px 10px;
    background-color: rgba(0, 0, 0, 0.300);
}

.modal{
    background-color: var(--borderBtn);
    padding: 20px;
}
.modal h2{
    color: var(--black);
    font-size: 38px;
    text-align: center;
    margin-bottom: 20px;
}

.modal form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal form label{
    color: var(--black);
    font-size: 18px;
}

.modal form input{
    outline: none;
    padding: 5px;
    color: var(--black);
}

#closeModal{
    color: var(--orange);
    font-size: 30px;
    position: absolute;
    top: 0px;
    right: 10px;
}

#closeModal:hover{
    color: var(--red);
}

#toggleModal:checked + #shadowModal{
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 9999;
}

#modalContact:checked + #modalPresentation{
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 25%;
}

#modalPresentation form label{
    background: var(--orange);
    padding: 10px;
}

#modalPresentation form label:hover{
    background-color: var(--red);
    transition: all 0.2s;
}

/* RESPONSIVE */

@media screen and (max-width:1439px){
    #presentation{
        grid-template-columns: 1fr;
    }
    #contentPresentation{
        max-width: fit-content;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:1024px){
    header nav ul{
        display: none;
    }
    .burgerMenu{
        display: block !important;
    }
    #formation h2{
        margin-bottom: 60px;
    }
    #articleFormation img, #articleFormation2 img{
        height: 516px;
        width: 516px;
        margin: auto;
    }
    #formatDescription{
        height: 500px;
    }
    #articleFormation{
        margin-bottom: 120px;
    }
    #formatDescription2{
        height: 500px;
    }
    #articleFormation2{
        margin-bottom: 120px;
    }
    #articleProject{
        grid-template-columns: 1fr 1fr;
    }
    .back-end{
        grid-column: 1/3;
    }
}
@media screen and (max-width:767px){
    #articleFormation, #articleFormation2{
        grid-template-columns: 1fr;
    }
    #formatDescription, #formatDescription2{
        position: relative;
        margin: auto;
    }
    #articleFormation img, #articleFormation2 img{
        height: 100%;
        width: 100%;
    }
    #articleFormation2 img{
        grid-column: 1;
        grid-row: 1;
    }
    #compList{
        display: block;
    }
    #articleProject{
        grid-template-columns: 1fr;
    }
    .back-end{
        grid-column: 1;
    }
    #projectTitle{
        flex-direction: column;
    }
    #project h2{
        text-align: center;
        margin-bottom: 20px;
    }
    #project a{
        margin: auto;
    }
}

.navAnimation li, #contentPresentation, #presentation img{
    opacity: 0;
    transform: scale(0); /* Initiallement, les éléments sont invisibles et de taille nulle */
    animation: growIn 0.7s ease forwards;
}

@keyframes growIn {
    0% {
        opacity: 0;
        transform: translateY(80px) scale(0); /* Commence à 50px vers le bas et taille nulle */
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1); /* Se termine à la position initiale et à la taille normale */
    }
}

.navAnimation li:nth-child(1) {
    animation-delay: 0s;
}
.navAnimation li:nth-child(2) {
    animation-delay: 0.1s;
}
.navAnimation li:nth-child(3) {
    animation-delay: 0.2s;
}
.navAnimation li:nth-child(4) {
    animation-delay: 0.3s;
}
.navAnimation li:nth-child(5) {
    animation-delay: 0.4s;
}
.navAnimation li:nth-child(6) {
    animation-delay: 0.5s;
}
#contentPresentation{
    animation-delay: 0.6s;
}
#presentation img{
    animation-delay: 0.7s;
}